.top{
    position: absolute;
  left: 0%;
  right: 0.04%;
  top: 0%;
  bottom: 93%;
  
  background: #ffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
  }
  .haederwapper{
    display: flex;
    justify-content: end;
  }
  .spantext{
    padding-left: 18px;
  }