
  <div class="haederwapper">
  <div class="top"></div>
  <div id="exit" class="p-input-icon-left">
      <button pButton type="button" label="יציאה מהמערכת" class="p-button-link spantext" (click)="route(3)"></button>
      <i id="iconexit" class="pi pi-sign-out" ></i>
      </div></div>