
<div><img [src]="'../../assets/img/storeItems/basketw.jpg'" height="270px" width="100%"></div>
<div *ngIf ="productse"> 
    <p-table [value]="products" responsiveLayout="scroll">

        <ng-template pTemplate="header">
            <tr>
                <th>תאור המוצר</th>
                <th>תמונה</th>
                <th>מחיר</th>
                <th>כמות</th>
                <th>ברקוד</th>
                <th>צבע</th>
                <th>מידה</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.description}}</td>
                <td><img [src]="'../../assets/img/storeItems/' + product.image+'.jpg'" [alt]="product.name" width="100" class="shadow-4" /></td>
                <td>{{product.price | currency:'ILS'}}</td>
                <td> <div class="btnwapper">
                    <button class="btnm">
                        <i style="cursor: pointer;" (click)="removeItem(product)">-</i>
                    </button>
                    <div class="qty">{{product.quantityForBasket}}</div>
                    <button class="btnm">
                        <i style="cursor: pointer;" (click)="addItem(product)">+</i>
                    </button>
                </div> </td>
                <td>{{product.code}}</td>
                <td><span [class]="'product-badge status-instock'">{{product.color}}</span></td>
                <td> 
                    <p-button class="btnicons" type="button" icon="pi pi-trash" (click)="DeleteProduct(product)" > </p-button></td>
                  
            </tr>
        </ng-template>
       <ng-template pTemplate="summary">
           <div class="sum">  סה"כ  לתשלום :{{sum}} ש"ח</div>
            <div class="p-d-flex p-ai-center p-jc-between"> <span><p-button (click)="end()"> לסיום </p-button></span>
                <span><p-button (click)="AddToDebts()"> לתשלום מאוחר יותר</p-button></span>
                <span><p-button (click)="Back()"> חזור לקטגוריות</p-button></span> 
                <span><p-button (click)="DeleteAllProducts()"> רוקן סל </p-button></span> 
            </div>
        </ng-template> 
    </p-table>
    
</div>
<div *ngIf ="!productse">
<div class="noRes"> 
    אין פריטים להצגה 
    <div class="p-d-flex p-ai-center p-jc-between">
     <!-- <span><p-button class="btnicons" type="button" icon="pi pi-trash" (click)="DeleteAllProducts(products)" > </p-button></span> -->
        <span><p-button (click)="Back()"> חזור לקטגוריות</p-button></span> 
    </div>
</div>
</div>