.sum{
    text-align: right;
    color: cornflowerblue;
    padding-right: 33px;
}
.qty{
    padding-left: 2px;
    padding-right: 2px;
}
.btnwapper{
    display: flex;
}
.btnm{
    background: #044868;
    border: navajowhite;
    color: wheat;
    border-radius: 5px;
}
.noRes{
    font-size: 27px;
    color: #044868;
    text-align: center;
}