.btnicons{
    padding-left: 2px;
    padding-right: 2px;
    }
    .noRes{
        font-size: 39px;
    text-align: center;
    color: #044868;
    padding-top: 10%;
    }
    .btnm{
        background: transparent;
        /* border: none; */
        border: 1px solid #044868;
        border-radius: 4px;
        margin: 4px;
    }
    .btnwapper{
        display: flex;
    }