
<div class="grid p-fluid wapper">
    <div class="col-12 md:col-4">
        <div class="title"><label for="description">תאור פריט</label></div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" inputId="description" pInputText  [(ngModel)]="description">         
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="title"><label for="size"> מידה</label></div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"></span>
            <input type="text" inputId="size" pInputText [(ngModel)]="size">         
        </div>
    </div>

    

            
</div>
<div class="wapper">
    <div class="col-12 md:col-4">
        <div class="title"><label for="quantity"> כמות</label></div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"></span>
            <input type="text" inputId="quantity" pInputText  [(ngModel)]="quantity">       
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="title"><label for="price"> מחיר</label></div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"></span>
            <input type="text" inputId="price" pInputText  [(ngModel)]="price">   
    
        </div>
    </div>
</div>

<div class="wapper">
    <div class="col-12 md:col-4">
        <div class="title"><label for="code"> בר קוד</label></div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"></span>
            <input type="text" inputId="code" pInputText  [(ngModel)]="code">         
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="title"><label for="compeny"> חברה</label></div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"></span>
            <input type="text" inputId="compeny" pInputText  [(ngModel)]="compeny">         
        </div>
    </div>
</div>
<div class="wapper">
    <div class="col-12 md:col-4">
        <div class="title"><label for="color"> צבע</label></div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"></span>
            <input type="text" inputId="color" pInputText  [(ngModel)]="color" >         
        </div>
    </div>
        <div class="col-12 md:col-4">
        <div class="title"><label for="SupplierId">קןד ספק </label></div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"></span>
            <input type="text" inputId="SupplierId" pInputText  [(ngModel)]="SupplierId">         
        </div>
    </div> 

</div>
<div class="btnwapper">
    <button  pButton pRipple type="button" class="p-button-text btn"  (click)="editProduct()">שמור</button>
</div>
