.wapper{
    display: flex;
    justify-content: space-between;
    padding: 12px
}
.title{
    text-align: end;
    font-size: 11px;
    color: #044868;
}
.btn{
  /*   border-radius: 4px;
    margin-top: 10px;
    width: 222px;
    text-align: center !important;
    margin-left: 10px; */
}
.btnwapper{
    padding-left: 10px;
}
::ng-deep .p-inputgroup-addon:first-child, .p-inputgroup button:first-child, .p-inputgroup input:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #044868 !important;
    padding: 8px !important;
}