<div class="wapper">
    <div class="text"> האם אתה בטוח שברצונך למחוק ?</div>

    <div><button type="button" class="p-button-text btn" (click)="save()">אישור</button>
        <button type="button" class="p-button-text btn" (click)="cancel()">ביטול</button>
    </div>
</div>
