#trash{
    margin: 8px;
    background-color: #fff;
    background: #fff;
}
button{    background-color: #fff;
    background: #fff;

}
p-button-icon-only{
    background-color: #fff;
    background: #fff;
}
p-ripple{
    background-color: #fff;
    background: #fff;
}
.p-button{
    background-color: #fff;
    background: #fff;
}
#a{
    position:absolute;
    left: 65%;
    top:8%;
   
}
#inputa{
     border-radius: 25px;
     width: 120px;
     padding: 3px;
}
#b{
    position:absolute;
    left: 51%;
    top:8%
}
#inputb{
    border-radius: 25px;
    width: 120px;
    padding: 3px;
}
#c{
    position:absolute;
    left: 36%;
    top:8%
}
#inputc{
    border-radius: 25px;
    width: 120px;
    padding: 3px;
}
#d{
    position:absolute;
    left: 22%;
    top:8%
}
#inputd{
    border-radius: 25px;
    width: 120px;
    padding: 3px;
}
#e{
    position:absolute;
    left: 5%;
    top:8%
}
#inpute{
    border-radius: 25px;
    width: 120px;
    padding: 3px;
}

.wrapp{
    justify-content: space-between ;
    display:flex ;
}

.search{
    width:120px;
}
.table{
    margin: 18% 10%;
    text-align: center;
  
}
.wapper{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
 
}
#add{
    background-color: #0D5E7C;
    border: 1px solid #0D5E7C;
    margin-top: 10px;
     margin-left: 15px;
  
 
}
.card{
    width: 84%;
}