<app-haeder></app-haeder>
<div class="wapper">
    <div><app-nav-bar></app-nav-bar></div>
    <div class="card">
 <!-- <div class="wrapp"> -->
   <!-- <div class="p-mb-3">
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
    </div> -->
    <button id="add"   pButton pRipple type="button" (click)="route(3)" class="p-button-rounded">הוספת ספק +</button>
<!-- </div> -->
<span  class="p-input-icon-right"><input id="inputa" type="text" [(ngModel)]="searchWord" (input)="search()"   /> 
    <i id="iconusers" class="pi pi-search"></i> 
</span>
    <p-table class="table" [value]="suppliers" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr> <th></th>
                <th>שם איש קשר</th>
                <th>אזור </th>
                <th>טלפון</th>
                <th>כתובת</th>
                 <th> שם ספק</th>
                 <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-supplier>
            <tr>
                <td></td>
               <td>{{supplier.ContactName}}</td>
                  <td>{{supplier.Zone}}</td>
                 <td>{{supplier.Telephone}}</td>
                 <td>{{supplier.Address}}</td>
                <td>{{supplier.SupplierName}}</td>
             <td> <p-button id="trash" type="button " icon="pi pi-trash"  (click)="deletesupplier(supplier.SupplierId)"> </p-button>
                <p-button type="button" icon="pi pi-pencil" (click)="UpdateSupplier(supplier)"> </p-button> </td>

             
            </tr>
        </ng-template>
    </p-table>
</div>
</div>

      

      