
<div class="grid p-fluid wapper">
   <div  class="newcust" ><h2 class="ladd">הוספת תלמיד חדש</h2></div>
   <div class="col-12 md:col-4">
       <div class="titleText"><label for="identityNumber">תעודת זהות</label></div>
       <div class="p-inputgroup">
           <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
           <input type="text" inputId="identityNumber" pInputText  [(ngModel)]="identityNumber">         
       </div>
   </div>
   <div class="col-12 md:col-4">
       <div class="titleText"><label for="firstName"> שם פרטי</label></div>
       <div class="p-inputgroup">
           <span class="p-inputgroup-addon"></span>
           <input type="text" inputId="firstName" pInputText [(ngModel)]="firstName">         
       </div>
   </div>         
</div>
<div class="wapper">
   <div class="col-12 md:col-4">
       <div class="titleText"><label for="lastName"> שם משפחה</label></div>
       <div class="p-inputgroup">
           <span class="p-inputgroup-addon"></span>
           <input type="text" inputId="lastName" pInputText  [(ngModel)]="lastName">       
       </div>
   </div>
   <div class="col-12 md:col-4">
       <div class="titleText"><label for="telephone"> טלפון</label></div>
       <div class="p-inputgroup">
           <span class="p-inputgroup-addon"></span>
           <input type="text" inputId="telephone" pInputText  [(ngModel)]="telephone">   
   
       </div>
   </div>
</div>

<div class="wapper">
   <div class="col-12 md:col-4">
       <div class="titleText"><label for="email"> מייל </label></div>
       <div class="p-inputgroup">
           <span class="p-inputgroup-addon"></span>
           <input type="text" inputId="email" pInputText  [(ngModel)]="email">         
       </div>
   </div>
 
</div>

<div class="btnwapper">      
      <button  pButton pRipple type="button" class="p-button-text btn"  (click)="exit()">ביטול</button>
     <button  pButton pRipple type="button" class="p-button-text btn"  (click)="updateCustomer()">אישור</button> 
   <button  pButton pRipple type="button" class="p-button-text btn"  (click)="newCustomer()">הוסף</button>
</div>

  