label{
    color: #2A2E46;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
h3{
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #2A2E46;
}
button{
    background-color: #0D5E7C;
    border: 1px solid #0D5E7C;
   padding: 10px 35px ;
   top: 20px;
 
}
.id{

    left:70% ;
    top:20%
}
.lid{

    left:79% ;
    top:16%
}
.divlname{
 
    left:70% ;
    top:40%;
    
}
.llname{
  
    left:79% ;
    top:36%
}
input{
    padding: 8px;
    width: 198.8px;
    height: 39.9px;
}
.divmail{
    
    left:70% ;
    top:60%;
}
.lmail{
   
    left:81% ;
    top:56%

}
.divfname{
    
    left:30% ;
    top:20%;

}
.lfname{
    
    left:40% ;
    top:16%

}

.num{
   
    left:30% ;
    top:40%;

}
.lphone{
 
    left:41% ;
    top:36%

}
.p-button-rounded{
   
    left:30% ;
    top:62%;

}
.cancel{
   
    left:45% ;
    top:61%;
    font-family: Open Sans Hebrew;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;

}
.newcust{ 
    position: absolute;
width: 100%;
height: 50px;
left: 0px;
top: 0px;
background: #C6A568;
border-radius: 24px 24px 0px
}
.ladd {
    padding-right: 54px;
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    text-align: right;
}
.divnewc{
    text-align: center;
}

.wapper{
    display: flex;
    justify-content: space-between;
    padding: 12px
}
::ng-deep
    .p-inputgroup-addon:last-child, .p-inputgroup button:last-child, .p-inputgroup input:last-child {
        border: 2px solid #044868 !important;
    
}
.titleText{
    text-align: right;
}