<!-- <div class="divnewc" >  
     <div class="newcust" ><h2 class="ladd">הוספת ספק חדש</h2></div>
   
     <label class="lid">כתובת</label>
<input type="text" class="id" [(ngModel)]="address" pInputText />

<label class="lfname">שם פרטי</label>
<div class="divfname"><input  type="text" [(ngModel)]="supplierName" pInputText /></div>

<label class="llname">שם משפחה</label>
<div class="divlname"><input type="text" [(ngModel)]="zone" pInputText /></div>

<label class="lphone">טלפון</label>
<p-inputNumber class="num" [(ngModel)]="telephone" ></p-inputNumber>

<label class="lmail" >שם איש קשר</label>
<div class="divmail"><input type="text" [(ngModel)]="contactName" pInputText /></div>

<h3 class="cancel">ביטול</h3>
<button  pButton pRipple type="button" class="p-button-rounded"  (click)="newSupplier()">הוסף</button>

</div>

 -->

 <div class="grid p-fluid wapper">
     <div  class="newcust" ><h2 class="ladd">הוספת ספק חדש</h2></div>
     <div class="col-12 md:col-4">
         <div class="titleText"><label for="identityNumber"> כתובת</label></div>
         <div class="p-inputgroup">
             <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
             <input type="text" inputId="identityNumber" pInputText  [(ngModel)]="address">         
         </div>
     </div>
     <div class="col-12 md:col-4">
         <div class="titleText"><label for="firstName"> אזור </label></div>
         <div class="p-inputgroup">
             <span class="p-inputgroup-addon"></span>
             <input type="text" inputId="firstName" pInputText [(ngModel)]="zone">         
         </div>
     </div>         
  </div>
  <div class="wapper">
     <div class="col-12 md:col-4">
         <div class="titleText"><label for="lastName">  שם</label></div>
         <div class="p-inputgroup">
             <span class="p-inputgroup-addon"></span>
             <input type="text" inputId="lastName" pInputText  [(ngModel)]="contactName">       
         </div>
     </div>
   
     <div class="col-12 md:col-4">
         <div class="titleText"><label for="telephone"> טלפון</label></div>
         <div class="p-inputgroup">
             <span class="p-inputgroup-addon"></span>
             <input type="text" inputId="telephone" pInputText  [(ngModel)]="telephone">   
     
         </div>
     </div>
  </div>
  
  <div class="wapper">
     <div class="col-12 md:col-4">
         <div class="titleText"><label for="email"> שם איש קשר </label></div>
         <div class="p-inputgroup">
             <span class="p-inputgroup-addon"></span>
             <input type="text" inputId="email" pInputText  [(ngModel)]="supplierName">         
         </div>
     </div>
     <div class="col-12 md:col-4">
          <div class="titleText"><label for="identityNumber">  תעודת זהות</label></div>
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon"></span>
              <input type="text" inputId="identityNumber" pInputText  [(ngModel)]="identityNumber">       
          </div>
      </div>
  </div>
  
  <div class="btnwapper">      
        <button  pButton pRipple type="button" class="p-button-text btn"  (click)="exit()">ביטול</button>
       <button  pButton pRipple type="button" class="p-button-text btn"  (click)="updateSupplier()">אישור</button> 
     <button  pButton pRipple type="button" class="p-button-text btn"  (click)="newSupplier ()">הוסף</button>
  </div>
  
    