.divchart{
    overflow: hidden;
    position: absolute;
    left: 22%;
    top: 40%;

    background: #FFFFFF;
    border-radius: 25px;
    
    height: 435px;
    width:870px ;
}
h5{
    position:absolute;
    left: 100%;
    top: 5%;
}
#exit{
    margin-left: 5%;
    margin-top: 0.5%;
}
.p-button-link{
    color: #0d5e7c;
    height: 27px;
    
}
button{

width: 181px;
height: 90px;
border-radius: 10px;
}
.p-button-raised{
    
    background-color: #FFFFFF !important;
    color: #FFFFFF !important;
    background: #ffffff !important;
    border: 1px solid #f8f9fa !important;
}

#a{
    position:absolute;
    left: 83%;
    top:10%
}
.lstudent{  position:absolute;
    left: 36%;
    top: 55%;
    letter-spacing: 0.01em;
color: rgba(42, 46, 70, 0.5);
    font-family: Open Sans Hebrew;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
}


#b{
    position:absolute;
    left: 64%;
    top:10%
}
.lsupplier{
    position:absolute;
    left: 42%;
    top: 55%;
    letter-spacing: 0.01em;
color: rgba(42, 46, 70, 0.5);
    font-family: Open Sans Hebrew;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

}
#c{
    position:absolute;
    left: 45%;
    top:10%
}
.lfile{
    position:absolute;
    left: 28%;
    top: 55%;
    letter-spacing: 0.01em;
color: rgba(42, 46, 70, 0.5);
    font-family: Open Sans Hebrew;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
}
#d{
    position:absolute;
    left: 26%;
    top:10%
}
.lbook{
    position:absolute;
    left: 42%;
    top: 55%;
    letter-spacing: 0.01em;
color: rgba(42, 46, 70, 0.5);
    font-family: Open Sans Hebrew;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

}
#e{
    position:absolute;
    left: 7%;
    top:10%
}
.lmoney{
    position:absolute;
    left: 37%;
    top: 55%;
    letter-spacing: 0.01em;
color: rgba(42, 46, 70, 0.5);
    font-family: Open Sans Hebrew;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

}
.top{
  position: absolute;
left: 0%;
right: 0.04%;
top: 0%;
bottom: 93%;

background: #ffff;
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
}
.lexit{
position:absolute;
top:180px;
left: 80px;


font-family: Open Sans Hebrew;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: right;
letter-spacing: 0.01em;
color: #2A2E46;

}
.p-button{
    background-color: #FFFFFF !important;
}
#iconusers{
    padding: 14px;
    background-color: rgba(198, 165, 104, 0.2);
    position: absolute;
    top: 38%;
    margin-top: -0.5rem;
    border-radius: 25px
}
#iconsupplier{
    padding: 14px;
    background-color: rgba(198, 165, 104, 0.2);
    position: absolute;
    top: 38%;
    margin-top: -0.5rem;
    border-radius: 25px
}
#iconfile{
    padding: 14px;
    background-color: rgba(198, 165, 104, 0.2);
    position: absolute;
    top: 38%;
    margin-top: -0.5rem;
    border-radius: 25px

}
#iconbook{
    padding: 14px;
    background-color: rgba(198, 165, 104, 0.2);
    position: absolute;
    top: 38%;
    margin-top: -0.5rem;
    border-radius: 25px
}
#iconmoney{
    padding: 14px;
    background-color: rgba(198, 165, 104, 0.2);
    position: absolute;
    top: 38%;
    margin-top: -0.5rem;
    border-radius: 25px
}
data{
    border-radius: 12px;
}
canvas-data{
border-radius: 12px;
}
