


<div >
    
    <div class="top"></div>
    <div id="exit" class="p-input-icon-left">
<button pButton type="button" label="יציאה מהמערכת" class="p-button-link" (click)="signout()"></button>
<i id="iconexit" class="pi pi-sign-out" ></i>
</div>
    <div id="a" class="p-input-icon-right">
        <button  pButton type="button" (click)="route(1)"  class="p-button-raised "></button>
        <i id="iconusers" class="pi pi-users"></i>
    <label class="lstudent">תלמידים</label>
</div>
<div id="b" class="p-input-icon-right">
    <button  pButton type="button" (click)="route(2)" class="p-button-raised"></button>
    <i id="iconsupplier" class="pi pi-shopping-bag"></i>
    <label class="lsupplier">ספקים</label>
</div>
<div id="c" class="p-input-icon-right">
    <button   pButton type="button" (click)="route(3)" class="p-button-raised"></button>
    <i id="iconfile" class="pi pi-file" ></i>
    <label class="lfile">פריטים</label>
</div>
<div id="d" class="p-input-icon-right">
    <button  pButton type="button" (click)="route(4)" class="p-button-raised"></button>
    <i id="iconbook" class="pi pi-book"></i>
    <label class="lbook">חובות</label>
</div>

   <div id="e" class="p-input-icon-right">
    <button  pButton type="button" (click)="route(5)" class="p-button-raised"></button>
    <i id="iconmoney" class="pi pi-money-bill"></i>
    <label class="lmoney">הכנסות</label>
   </div>

<div class="divchart" >
    <h5>הוצאות מול הכנסות</h5>
    <p-chart type="bar" [data]="data" [options]="options"></p-chart>
</div>
</div>
