#debtsbutton{
    background-color: #0D5E7C;
   border: 1px solid #0D5E7C;
  padding: 7px 12px ;
 
}
.wapper{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.card{
    width: 84%;
}
.lexit{
    position:absolute;
    top:180px;
    left: 80px;
    
    
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.01em;
    color: #2A2E46;
    
    }

.p-button-link{
    color: #0d5e7c;
    height: 27px;
    
}
#add{
    background-color: #0D5E7C;
   border: 1px solid #0D5E7C;
   margin-top: 10px;
    margin-left: 15px;
 
}
/*input{
    margin: 20px 0px;
}*/
#buttondelete{
   margin: 4px;
   background-color: #ffff;
   color: #0D5E7C;
   background: #fff;
    border: 1px solid #fff;
}
#buttonedit{
    margin: 4px;
    width: 37px;
    height: 35px;
    background-color: #fff;
    color: #0D5E7C;
    background:#fff;
     border: 1px solid #fff;
 }
 
 #template{
   
    color: #0D5E7C;
    background-color: #fff;
}
 #a{ 
    margin: 20px 0px;
    position: absolute;
    left: 5%;
       
    }
    #inputa{ border: 1px solid rgb(197, 191, 191);
         border-radius: 25px;
         width: 120px;
         padding: 3px;
    }
    #b{
        margin: 20px 0px;
        position: absolute;
    left: 74%;
    }
    #inputb{ border: 1px solid rgb(197, 191, 191);
        border-radius: 25px;
        width: 120px;
        padding: 3px;
   }
    #c{
        margin: 20px 0px;
        position: absolute;
    left: 55%;
    }
    #inputc{ border: 1px solid rgb(197, 191, 191);
        border-radius: 25px;
        width: 120px;
        padding: 3px;
   }
 #lastName{
    margin: 20px 0px;
    position: absolute;
    left: 40%;
    }
    #inputd{ border: 1px solid rgb(197, 191, 191);
        border-radius: 25px;
        width: 120px;
        padding: 3px;
   }
  #firstName{
    margin: 20px 0px;
    position: absolute;
    left: 22%;
    }
    #inpute{ border: 1px solid rgb(197, 191, 191);
        border-radius: 25px;
        width: 120px;
        padding: 3px;
   }
  
    .search
    {
        border: 25px;
    }
    .table{
        margin: 18% 10%;
        text-align: center;
      
    }
    