
    <app-haeder></app-haeder>
    <div class="wapper">
 <div><app-nav-bar></app-nav-bar></div>
<div class="card">  
   <!-- <div class="p-mb-3">
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
    </div>--><br/>
    <button id="add"   pButton pRipple type="button" (click)="route(2)" class="p-button-rounded">הוספת תלמיד +</button>
<span  class="p-input-icon-right"><input id="inputa" type="text" [(ngModel)]="searchWord" (input)="search()"   /> 
    <i id="iconusers" class="pi pi-search"></i> 
</span>
    <div>
    <p-table class="table" [value]="students" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" responsiveLayout="scroll"
        currentPageReportTemplate="{totalRecords} מציג {first} עד {last} מתוך" [rowsPerPageOptions]="[8,16,50]">
        <ng-template pTemplate="header" >
            <tr>  <th id="template"></th>
                <th   id="template"> שם פרטי</th>
                <th  id="template">שם משפחה </th>
                <th  id="template">טלפון</th>
                <th  id="template">תעודת זהות</th>
                <th  id="template"> כתובת מייל</th>
                <th id="template"></th>
            </tr>
        </ng-template> 
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td> <button id="debtsbutton"  pButton pRipple type="button" (click)="getDebts(customer.CustomerId)" class="p-button-rounded1">חובות</button>
                    <button id="debtsbutton"  pButton pRipple type="button" (click)="AddDebets(customer)" class="p-button-rounded1">הוסף לחובות</button>
                </td>
                <td>{{customer.FirstName}}</td>
                <td>{{customer.LastName}}</td>
                <td>{{customer.Telephone}}</td>
                <td>{{customer.IdentityNumber}}</td>
                <td>{{customer.Email}}</td>
                <td class="td"><p-button   id="buttondelete" type="button" icon="pi pi-trash" (click)=" deletestudent(customer.CustomerId)" > </p-button>
                   <p-button id="buttonedit" type="button" icon="pi pi-pencil" (click)="UpdateCustomer(customer)"> </p-button>
                 </td>
            </tr>
        </ng-template>
    </p-table></div>
</div>
</div>


      