.btn{
    
    background-color: #0D5E7C;
    border: 1px solid #0D5E7C;
   padding: 7px 12px ;
   color: white;
    margin: 10px;
}
.text{
font-size: 18px;
}
.wapper{
    text-align:center;
    padding-top: 30px;
}