<div class="wapper">
    <div class="text"> אתה מוסיף ל {{name}} חוב</div>
    <div class="text">? בסך {{sum}} שח </div>
    <div><button type="button" class="p-button-text btn" (click)="save()">אישור</button>
        <button type="button" class="p-button-text btn" (click)="cancel()">ביטול</button>
    </div>
</div>
