.wapper{
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr;
/*     grid-template-rows: 3fr; */
  
}
.categoy{
    padding-right: 13px; 
    max-height: 200px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 18px;
    text-align: center;
    max-width: 246px;
    margin-top: 25px;
    margin-bottom: 32px;
    margin-right: 4px;
    margin-left: 4px;

}
.imgwapper{
    padding: 3px 16px;
}
.categorywapper{
    margin-left: 30px;
    margin-right: 30px;
}