

    
    <app-haeder></app-haeder>
    <div class="wapper">
 <div><app-nav-bar></app-nav-bar></div>

<div class="row wapper">
    <div class="col-3"  *ngFor="let category of cat">
        <div class="categorywapper">
           <div class="imgwapper"> <img src={{getImage(category.categoryId)}} width="180px" height="180px"></div>
            <div class="categoy" (click)="GetItems(category)" [ngStyle]="{backgroundColor:category.color}">
        {{category.categoryName}}   
    </div>
</div>
        
    </div>
</div>
</div>