.navigator{
height:90vh;
position: relative;
color: #0D5E7C;
background: #0D5E7C;
background-color: #0D5E7C;
}
p-menuitem-text {
    color: #fff;}
#w {
    color: #0D5E7C;
background: #0D5E7C;
background-color: #0D5E7C;
    }

   .imgicon{
    background-color: #0d5e7c;
    padding-bottom: 30px;
    padding-top: 31%;
    max-width: fit-content;
   }
   .title {
    text-align: center;
    color: white;
    padding-bottom: 17px;
   }
   .imgHeder{
    margin: auto;
    display: flex;
   }