<div>
    <div class="imgicon"><img class="imgHeder" src="assets/img/logo.png">
        <div class="title"><div>תומכי תורה </div>
        <div>ישיבת כנסת הגדולה</div></div>
        <p-slideMenu [model]="items" class="navigator" [viewportHeight]="900" id="w"> </p-slideMenu>
    </div>
    </div>
   


