
label{
   color: #2A2E46;
   position: absolute;
   right: 30%;
  
}
button{
    background-color: #0D5E7C;
   border: 1px solid #0D5E7C;
  padding: 7px 25px ;
  top: 20px;
}
.loginpic {
    background: url('../../../assets/img/homebg.png'); width: 50%; position: absolute; right: 0px; height: 100%;
    overflow: hidden;
 }
 .leftbackg{
    text-align: center;
    position: absolute;
    width: 50%;
    top: 40%;
     
 }
 .login{
     display: flex;
 }
.u{
   padding-left: 27px;
    border-color: darkgrey;
    height: 40px;
    width: 300px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    font-size: 1rem;
    color: #495057;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    box-sizing: border-box;
    
    
 }
 h1{
    color: #2A2E46;
    text-align: center;
    position: absolute;
    left: 20%;
    top: 29%;
    
    

 }
 .p{
   border-color: darkgrey;
    height: 40px;
    width: 300px;
 }
 h5{
    color: #2A2E46;

    
    
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
 }
 h4{
   color: #2A2E46;
   font-family: Open Sans Hebrew;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 27px;
   text-align: center;
 }
 img{
    text-align: center;
    position: absolute;
    left: 22%;
    top: 15%;
 }