
<div class="login">

 <div class="loginpic">
    
 </div>
 <div><img src="assets/img/logo.png"></div>
 <h1>כניסה למערכת</h1>
 <div class="leftbackg">
     <label>שם משתמש</label>
     <br>
    <div  id="username" class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input class="u" id="float-input" [(ngModel)]="user" type="text" pInputText> 
     
    </div>
    <br>
    <br>
    <br>
    <label  for="password">סיסמה</label>
    <br>
<div id="divpassword" class="p-input-icon-left">
    <i class="pi pi-lock"></i>
    <input class="p" type="password" [(ngModel)]="password" pPassword  />   
</div>
<br>
<br>
<div><button  pButton pRipple type="button" (click)="login()" class="p-button-rounded">כניסה</button> 
</div>


</div>
</div>