.ldebts{
    font-family: Open Sans Hebrew;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 62px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #044868;

}
.p-button-link{
    color: #ffffff;
    background-color: #ffffff;
    
    height: 27px;
    right: 90%;
}
.debts{
    width: 100%;
    height: 75px;
    text-align: right;
    padding-right: 30px;
    background: #C6A568;

    }

    .s{
        text-align: center;
     }   
     .v{
         padding: auto;
         color: aqua;

     }  
.cancel{

    font-family: Open Sans Hebrew;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;

}
.p-button-rounded{
    background-color: #0D5E7C;
    border: 1px solid #0D5E7C;
    padding: 4px 35px;
}
.wapper{
    text-align: center;
    border: 2px solid #044868;
    border-radius: 5px;
    width: 415px;
    padding: 19px;
    margin: auto;
    margin-top: 20px;
}
.debtse{
    display: flex;
    justify-content: space-between;
}
.bold{
    font-weight: bold;
}
.sum{
    text-align: center;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    color: #044868;
}
.submit{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 40%;
    padding-left: 49px;
}
input{
    border: 2px solid #c6a568;
    border-radius: 5px;
    padding: 4px;
    width: 50%;
}