<div>
<div class="debts">
<label class="ldebts"> חובות של  {{StudentName}}</label>
<button pButton type="button" label="חזרה לתלמידים" class="p-button-link" (click)="route(1)"></button>
</div>
<div class="">
<div class="debtse wapper" *ngFor="let debt of debtListModel">
    <div> <span class="bold">סכום :</span>{{debt.debtAmount}}ש"ח </div>
    <div>{{debt.date}} <span  class="bold">:תאריך חוב</span></div>
</div>
</div>
 

<div class="sum">סהכ חובות: {{sum}} ש"ח</div>

<div class="submit">
    <button  pButton pRipple type="button" (click)="removeDebts()"class="p-button-rounded">לתשלום</button>
    <div><input type="number" title="סכום לתשלום"  [(ngModel)]="sumForPay" ></div>

</div>


</div>

