/* You can add global styles to this file, and also import other style files */
.p-slidemenu {
    background: #0d5e7c !important;
    border: 1px solid #0d5e7c !important;
}

.navigator {
    height: 90vh;
    color: #0D5E7C;
    background: #0D5E7C;
    background-color: #0D5E7C;
    /* position: absolute; */
    left: unset !important;
    position: absolute;
}
.p-slidemenu .p-menuitem-link .p-menuitem-text {
    color: #f6f7f9 !important;
}
.p-slidemenu .p-menuitem-link .p-menuitem-icon {
    color: #fbc02d !important;
    margin-right: 0.5rem;
}
.p-slidemenu .p-slidemenu-content {
    height: 63vh !important;
}
.p-datatable table {
    border-collapse: collapse;
    /* padding: 59px; */
}
.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #044868 !important;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #f8f9fa !important;
    background: #044868 !important;
    transition: box-shadow 0.2s;
}
.p-button {
    background: #044868 !important;
    border: 1px solid #f8f9fa !important;
}


.p-inputgroup-addon:last-child, .p-inputgroup button:last-child, .p-inputgroup input:last-child {
    padding: 8px !important;
}
.p-dialog .p-dialog-header {
    background: #C6A568 !important;
    color: #044868 !important;
}